@import "../../styles/confugire";
@import "../../styles/companyProfile";

.info {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: inherit;
      color: $linkHover;
      border: none;
      outline: none;
      cursor: pointer;
      svg {
        font-size: 2rem;
      }
    }
  }
  h1 {
    color: $tagColor;
  }
  .lang-header {
    margin-top: 1rem;
    color: white;
  }
  .class-name {
    display: none;
  }
  .about-us {
    color: $tagColor;
    margin: 1rem 0;
  }
  .tech-stack {
    margin-top: 1rem;
    h2 {
      color: $tagColor;
    }
    i {
      font-size: 5rem;
    }
  }
  .what-we-do {
    color: $tagColor;
  }
  .city {
    color: $tagColor;
  }
}
.edit {
  @include flex(row);
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 999999999999999999999;
  background-color: rgba(0, 0, 0, 0.8);
  .remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      font-size: 2.5rem;
      color: white;
      pointer-events: none;
    }
  }
  .form-container {
    width: 30%;
    form {
      width: 100%;
      height: 100%;
      .form-control {
        select {
          background-color: black;
          color: white;
          border: 1px solid white;
          outline: none;
          height: 30px;
          font-size: 1.2rem;

          option {
            background-color: black;
            columns: white;
            font-size: 1.2rem;
          }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
        margin: 0.7em 0;
        label {
          color: $tagColor;
          display: inline-block;

          margin-bottom: 0.3em;
        }

        input {
          display: block;
          padding-left: 0.7em;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          font-size: 1.2rem;
          border-radius: 6px;
          outline: none;
          width: 100%;
        }

        display: flex;
        flex-direction: column;

        textarea {
          display: flex;
          flex-direction: column;
          border: none;
          outline: none;
          padding: 0.5em;
          font-family: "Roboto", "sans-serif";
        }
      }

      button {
        display: block;
        width: 100%;
        border: 1px solid $tagColor;
        font-size: 1.4rem;
        cursor: pointer;
        padding: 0.3em 0;
        background: inherit;
        color: $tagColor;
        &:hover {
          background-color: $tagColor;
          color: black;
          transition: all 0.3s;
        }
      }
    }
    form.ng-untouched.ng-invalid {
      button {
        background-color: rgb(136, 136, 136);
      }
    }
    form.ng-touched.ng-invalid {
      button {
        background-color: rgb(136, 136, 136);
      }
    }
  }
}
.language-icons {
  @include flex(row);
  ul {
    @include flex(row);
    flex-wrap: wrap;
    li {
      position: relative;
      margin: 0 0.6em;
      button {
        position: absolute;
        top: 0;
        right: -1em;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        svg {
          pointer-events: none;
          font-size: 1.5rem;
          color: white;
        }
      }
    }
    svg {
      font-size: 5rem;
    }
  }
  .add {
    background-color: inherit;
    color: $linkHover;
    border: none;
    outline: none;
    cursor: pointer;
    svg {
      font-size: 2rem;
    }
  }
}
section {
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: white;
  }
  div {
    p {
      color: white;
    }
  }
  button {
    background-color: inherit;
    color: $linkHover;
    border: none;
    outline: none;
    cursor: pointer;
    svg {
      font-size: 2rem;
      pointer-events: none;
    }
  }
  .inner {
    display: flex;
  }
}
span {
  p {
    color: red;
    font-weight: bold;
  }
}
@media screen and (max-width: 800px) {
  .edit {
    .form-container {
      width: 80%;
    }
  }
}
