* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "../../styles/confugire";
@mixin flex($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}
body {
  background-color: #040406;
}
:root {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.search-bar {
  background-color: #37354d;
  width: 75%;
  margin: 2rem auto;
  border-radius: 8px;
  form {
    width: 100%;
    .input-search {
      display: flex;
      input {
        width: 85%;
      }
      button {
        width: 15%;
      }
    }

    .filters {
      display: flex;
      border-top: 1px solid white;
      .input-container {
        width: 33.3%;
        position: relative;
        select {
          width: 93%;
          font-size: 1.2rem;
          background-color: inherit;
          color: white;
          border: none;
          outline: none;
          padding: 0.6em 1.2em !important;
        }
        option {
          background-color: black;
        }
        svg {
          position: absolute;
          top: calc(1.8rem / 2);

          right: 18%;
          font-size: 1.2rem;
          color: $fontColor;
          fill: $fontColor;
        }
      }
    }
    input {
      font-size: 1.2rem;
      background-color: inherit;
      color: white;
      border: none;
      outline: none;
      padding: 0.6em 1.2em;
    }

    button {
      font-size: 1.2rem;
      background-color: #0121fb;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
main {
  padding: 0 1rem;
  header {
    color: white;
  }
}
.companies {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 800px) {
   .companies {
    justify-content: center;
  }
  .search-bar {
    form {
      width: 100%;
      .input-search {
        display: flex;
        input {
          width: 65%;
        }
        button {
          width: 35%;
        }
      }
      .filters {
        display: flex;
        flex-direction: column;
        .input-container {
          width: 100%;
          select {
            width: 100%;
          }
          option {
            background-color: black;
          }
          svg {
            right: 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0 0.5em;
    header {
      color: white;
      text-align: center;
    }
  }
}
