<div class="home-container">
  <div class="developer">
    <div class="opacity">
      <div class="inner">
        <h1>Are you a Developer?</h1>
        <div class="links">
          <a class="login" routerLink="/login-developer">Log In</a
          ><a class="register" routerLink="/register-developer">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="company">
    <div class="opacity">
      <div class="inner">
        <h1>Are you a Company?</h1>
        <div class="links">
          <a class="login" routerLink="/login-company">Log In</a
          ><a class="register" routerLink="/register-company">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
