<a routerLink="/home" class="home">Dev Jobs</a>

<div class="container">
  <form [formGroup]="loginCompany" id="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="">Email</label>
      <input
        id="input"
        type="email"
        autocomplete="off"
        formControlName="email"
      />
      <span
        *ngIf="
          !loginCompany.get('email').valid && loginCompany.get('email').touched
        "
      >
        <span *ngIf="loginCompany.get('email').errors['email']">
          <p>Invalid Email</p>
        </span>
        <span *ngIf="loginCompany.get('email').errors['required']">
          <p>Filed cannot be empty</p>
        </span>
      </span>
    </div>
    <div class="form-control">
      <label for="">Password</label>
      <input
        id="input"
        type="password"
        autocomplete="off"
        formControlName="password"
      />
      <span *ngIf="errorMessage">
        <p>{{ errorMessage }}</p></span
      >
      <span
        *ngIf="
          !loginCompany.get('password').valid &&
          loginCompany.get('password').touched
        "
      >
        <span *ngIf="loginCompany.get('password').errors['minlength']">
          <p>Invalid Password</p>
        </span>
        <span *ngIf="loginCompany.get('password').errors['required']">
          <p>Filed cannot be empty</p>
        </span>
      </span>
    </div>
    <button type="submit" [disabled]="!loginCompany.valid">Log In</button>
  </form>
</div>
<button type="button" class="demo-btn" (click)="submitDemo()">
  Log In As Demo
</button>
